<?xml version="1.0"?>
<config>
    <modules>
        <ITwebexperts_Rentalbundles>
            <version>1.0.1</version>
        </ITwebexperts_Rentalbundles>
    </modules>
    <frontend>
        <routers>
            <payperrentals_front>
                <args>
                    <modules>
                        <rentalbundles before="ITwebexperts_Payperrentals">ITwebexperts_Rentalbundles</rentalbundles>
                    </modules>
                </args>
            </payperrentals_front>
        </routers>
        <layout>
            <updates>
                <rentalbundles>
                    <file>rentalbundles.xml</file>
                </rentalbundles>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch_checkout_cart_add>
                <observers>
                    <rentalbundles_kit_add_cart>
                        <class>rentalbundles/observer</class>
                        <method>onProductCardAddAction</method>
                    </rentalbundles_kit_add_cart>
                </observers>
            </controller_action_predispatch_checkout_cart_add>
            <payperrentals_bundle_option_calculate_price_before>
                <observers>
                    <rentalbundles_price_calculation>
                        <class>rentalbundles/observer</class>
                        <method>onBundleOptionPriceCalculation</method>
                    </rentalbundles_price_calculation>
                </observers>
            </payperrentals_bundle_option_calculate_price_before>
            <render_cart>
                <observers>
                    <rentalbundles_render_cart>
                        <class>rentalbundles/observer</class>
                        <method>onCartRender</method>
                    </rentalbundles_render_cart>
                </observers>
            </render_cart>
        </events>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <rentalbundles>
                    <file>rentalbundles.xml</file>
                </rentalbundles>
            </updates>
        </layout>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <rentalbundles_change_bundle_option_block>
                        <type>singleton</type>
                        <class>rentalbundles/observer</class>
                        <method>coreBlockAbstractPrepareLayoutAfter</method>
                    </rentalbundles_change_bundle_option_block>
                </observers>
            </core_block_abstract_prepare_layout_after>
        </events>
    </adminhtml>
    <global>
        <blocks>
            <rentalbundles>
                <class>ITwebexperts_Rentalbundles_Block</class>
            </rentalbundles>
            <payperrentals>
                <rewrite>
                    <bundle_catalog_product_view_type_bundle_option_checkbox>ITwebexperts_Rentalbundles_Block_Bundle_Catalog_Product_View_Type_Bundle_Option_Checkbox</bundle_catalog_product_view_type_bundle_option_checkbox>
                    <bundle_catalog_product_view_type_bundle_option_multi>ITwebexperts_Rentalbundles_Block_Bundle_Catalog_Product_View_Type_Bundle_Option_Multi</bundle_catalog_product_view_type_bundle_option_multi>
                    <!--<checkout_cart_item_renderer_bundle>ITwebexperts_Rentalbundles_Block_Checkout_Cart_Item_Renderer_Bundle</checkout_cart_item_renderer_bundle>-->
                    <adminhtml_sales_order_view_items_renderer_bundle>ITwebexperts_Rentalbundles_Block_Adminhtml_Sales_Order_View_Items_Renderer_Bundle</adminhtml_sales_order_view_items_renderer_bundle>
                    <catalog_product_view_rental>ITwebexperts_Rentalbundles_Block_Catalog_Product_View_Rental</catalog_product_view_rental>
                </rewrite>
            </payperrentals>
        </blocks>
        <models>
            <rentalbundles>
                <class>ITwebexperts_Rentalbundles_Model</class>
            </rentalbundles>
            <payperrentals>
                <rewrite>
                    <product_type_reservation>ITwebexperts_Rentalbundles_Model_Product_Type_Reservation</product_type_reservation>
                    <observer>ITwebexperts_Rentalbundles_Model_Observer</observer>
                </rewrite>
            </payperrentals>
        </models>
        <helpers>
            <rentalbundles>
                <class>ITwebexperts_Rentalbundles_Helper</class>
            </rentalbundles>
            <bundle>
                <rewrite>
                    <catalog_product_configuration>ITwebexperts_Rentalbundles_Helper_Bundle_Catalog_Product_Configuration</catalog_product_configuration>
                </rewrite>
            </bundle>
            <payperrentals>
                <rewrite>
                    <price>ITwebexperts_Rentalbundles_Helper_Price</price>
                </rewrite>
            </payperrentals>
        </helpers>
        <resources>
            <rentalbundles_setup>
                <setup>
                    <module>ITwebexperts_Rentalbundles</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </rentalbundles_setup>
            <rentalbundles_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </rentalbundles_write>
            <rentalbundles_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </rentalbundles_read>
        </resources>
    </global>
</config> 