<?xml version="1.0"?>
<config>
    <modules>
        <ITwebexperts_Rentalbundles>
            <version>1.0.0</version>
        </ITwebexperts_Rentalbundles>
    </modules>
    <frontend>
        <layout>
            <updates>
                <rentalbundles>
                    <file>rentalbundles.xml</file>
                </rentalbundles>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch_checkout_cart_add>
                <observers>
                    <rentalbundles_kit_add_cart>
                        <class>rentalbundles/observer</class>
                        <method>onProductCardAddAction</method>
                    </rentalbundles_kit_add_cart>
                </observers>
            </controller_action_predispatch_checkout_cart_add>
        </events>
    </frontend>
    <global>
        <blocks>
            <rentalbundles>
                <class>ITwebexperts_Rentalbundles_Block</class>
            </rentalbundles>
            <payperrentals>
                <rewrite>
                    <bundle_catalog_product_view_type_bundle_option_checkbox>ITwebexperts_Rentalbundles_Block_Bundle_Catalog_Product_View_Type_Bundle_Option_Checkbox</bundle_catalog_product_view_type_bundle_option_checkbox>
                    <bundle_catalog_product_view_type_bundle_option_multi>ITwebexperts_Rentalbundles_Block_Bundle_Catalog_Product_View_Type_Bundle_Option_Multi</bundle_catalog_product_view_type_bundle_option_multi>
                    <checkout_cart_item_renderer_bundle>ITwebexperts_Rentalbundles_Block_Checkout_Cart_Item_Renderer_Bundle</checkout_cart_item_renderer_bundle>
                    <adminhtml_sales_order_view_items_renderer_bundle>ITwebexperts_Rentalbundles_Block_Adminhtml_Sales_Order_View_Items_Renderer_Bundle</adminhtml_sales_order_view_items_renderer_bundle>
                </rewrite>
            </payperrentals>
        </blocks>
        <models>
            <rentalbundles>
                <class>ITwebexperts_Rentalbundles_Model</class>
            </rentalbundles>
            <payperrentals>
                <rewrite>
                    <product_type_reservation>ITwebexperts_Rentalbundles_Model_Product_Type_Reservation</product_type_reservation>
                </rewrite>
            </payperrentals>
        </models>
        <helpers>
            <rentalbundles>
                <class>ITwebexperts_Rentalbundles_Helper</class>
            </rentalbundles>
        </helpers>
        <resources>
            <rentalbundles_setup>
                <setup>
                    <module>ITwebexperts_Rentalbundles</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </rentalbundles_setup>
            <rentalbundles_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </rentalbundles_write>
            <rentalbundles_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </rentalbundles_read>
        </resources>
    </global>
</config> 