<?xml version="1.0"?>
<config>
    <sections>
        <rentalbundles translate="label" module="rentalbundles">
            <label>Rental Bundles</label>
            <tab>sales_igniter_tab</tab>
            <frontend_type>text</frontend_type>
            <sort_order>9000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <mobile_kit_sku translate="label">
                            <label>Mobile Kit SKU</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment><![CDATA[Product with such sku will be identified as "mobile kit" product.]]></comment>
                        </mobile_kit_sku>
                    </fields>
                </general>
                <countries translate="label">
                    <label>CDATA[Countries vs SIMs Compatibility</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <list_1 translate="label">
                            <label>List 1</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>rentalbundles/system_config_source_countries</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[These countries will be considered as "compatible"]]></comment>
                        </list_1>
                        <list_2 translate="label">
                            <label>List 2</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>rentalbundles/system_config_source_countries</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[These countries will be considered as "compatible"]]></comment>
                        </list_2>
                        <list_3 translate="label">
                            <label>List 3</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>rentalbundles/system_config_source_countries</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[These countries will be considered as "compatible"]]></comment>
                        </list_3>
                        <list_4 translate="label">
                            <label>List 4</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>rentalbundles/system_config_source_countries</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[These countries will be considered as "compatible"]]></comment>
                        </list_4>
                        <list_5 translate="label">
                            <label>List 5</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>rentalbundles/system_config_source_countries</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[These countries will be considered as "compatible"]]></comment>
                        </list_5>
                        <list_6 translate="label">
                            <label>List 6</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>rentalbundles/system_config_source_countries</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[These countries will be considered as "compatible"]]></comment>
                        </list_6>
                        <list_7 translate="label">
                            <label>List 7</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>rentalbundles/system_config_source_countries</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[These countries will be considered as "compatible"]]></comment>
                        </list_7>
                        <list_8 translate="label">
                            <label>List 8</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>rentalbundles/system_config_source_countries</source_model>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[These countries will be considered as "compatible"]]></comment>
                        </list_8>
                        <list_9 translate="label">
                            <label>List 9</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>rentalbundles/system_config_source_countries</source_model>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[These countries will be considered as "compatible"]]></comment>
                        </list_9>
                        <list_10 translate="label">
                            <label>List 10</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>rentalbundles/system_config_source_countries</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[These countries will be considered as "compatible"]]></comment>
                        </list_10>
                        <list_11 translate="label">
                            <label>List 11</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>rentalbundles/system_config_source_countries</source_model>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[These countries will be considered as "compatible"]]></comment>
                        </list_11>
                        <list_12 translate="label">
                            <label>List 12</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>rentalbundles/system_config_source_countries</source_model>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[These countries will be considered as "compatible"]]></comment>
                        </list_12>
                        <list_13 translate="label">
                            <label>List 13</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>rentalbundles/system_config_source_countries</source_model>
                            <sort_order>130</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[These countries will be considered as "compatible"]]></comment>
                        </list_13>
                        <list_14 translate="label">
                            <label>List 14</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>rentalbundles/system_config_source_countries</source_model>
                            <sort_order>140</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[These countries will be considered as "compatible"]]></comment>
                        </list_14>
                        <list_15 translate="label">
                            <label>List 15</label>
                            <frontend_type>multiselect</frontend_type>
                            <source_model>rentalbundles/system_config_source_countries</source_model>
                            <sort_order>150</sort_order>
                            <show_in_default>1</show_in_default>
                            <comment><![CDATA[These countries will be considered as "compatible"]]></comment>
                        </list_15>
                    </fields>
                </countries>
            </groups>
        </rentalbundles>
    </sections>
</config>
